@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body{
  background-color: #f6f3ed;
  color: #28281e;
}

.cont_bg_28281e {
  background-color: #28281e;
}

/* Custom scrollbar for Webkit-based browsers */
.scroll-container::-webkit-scrollbar {
  height: 8px; /* Height of the scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Dark gray color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the scrollbar thumb */
  border: 2px solid #28281e; /* Optional: Adds a border around the scrollbar thumb */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #e2e8f0; /* Light gray color of the scrollbar track */
  border-radius: 8px; /* Rounded corners for the scrollbar track */
}

/* Custom scrollbar for Firefox */
.scroll-container {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #4a5568 #e2e8f0; /* Color of scrollbar thumb and track */
}
